---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import PageTitle from "@/components/PageTitle.astro";
import GridPosts from "@/components/GridPosts.astro";
const posts = await getCollection("posts");
posts.sort((a, b) => Number(b.data.date) - Number(a.data.date));
const mostRecent = posts.slice(0, 6);
---

<Layout
  title="Programming Insights & Tutorials"
  description="Dive deep into algorithms, data structures, and modern programming concepts with our comprehensive guides and tutorials."
>
  <main class="lg:col-span-3">
    <section class="mb-12">
      <PageTitle pageTitle="Most Recent Posts" isIndex={true} pageSize={0} />
      <GridPosts posts={mostRecent} />
    </section>
  </main>
</Layout>
