---
import MainLayout from "@/layouts/MainLayout.astro";

import { getCollection } from "astro:content";

import { SITE_DESCRIPTION, SITE_TITLE, SUBDOMAIN } from "@/consts";
import PostCard from "@/components/PostCard.astro";

const posts = await getCollection("posts");
posts.sort((a, b) => Number(b.data.date) - Number(a.data.date));
const mostRecent = posts.slice(0, 5);

const categories = await getCollection("categories");
---

<MainLayout
  siteTitle={SITE_TITLE}
  description={SITE_DESCRIPTION}
  pageTitle="Most Recent Posts"
>
  <ul class="flex flex-col gap-8">
    {
      mostRecent.map((post) => {
        const category = categories.find(
          (ctg) => ctg.id === post.data.category.id
        );
        return <PostCard post={post} category={category!} />;
      })
    }
  </ul>
  <a
    href={`/${SUBDOMAIN}posts/1`}
    class="text-blue-400 hover:text-blue-300 text-xl"
  >
    See all posts <span aria-hidden="true">&rarr;</span>
  </a>
</MainLayout>
