---
import Layout from "@/layouts/Layout.astro";
import SearchComponent from "@/components/Search.vue";
---

<Layout>
  <section class="mb-12">
    <SearchComponent client:load />
  </section>
</Layout>
