---
import Layout from "@/layouts/Layout.astro";
import SearchComponent from "@/components/Search.vue";
---

<Layout>
  <main class="lg:col-span-3">
    <section class="mb-12">
      <SearchComponent client:load />
    </section>
  </main>
</Layout>
