---
import MainLayout from "@/layouts/MainLayout.astro";
import SearchComponent from "@/components/Search.vue";

import { SITE_DESCRIPTION, SITE_TITLE, SUBDOMAIN } from "@/consts";
---

<MainLayout
  siteTitle={SITE_TITLE}
  description={SITE_DESCRIPTION}
  pageTitle="Search results"
>
  <SearchComponent client:load />
  <a
    href={`/${SUBDOMAIN}posts/1`}
    class="text-blue-400 hover:text-blue-300 text-xl"
  >
    See all posts <span aria-hidden="true">&rarr;</span>
  </a>
</MainLayout>
