---
import type { CollectionEntry } from "astro:content";

import AlgorithmsIcon from "@/icons/AlgorithmsIcon.astro";
import DataStructuresIcon from "@/icons/DataStructuresIcon.astro";
import JSTSIcon from "@/icons/JSTSIcon.astro";
import BookIcon from "@/icons/BookIcon.astro";
import { SUBDOMAIN } from "@/consts";

interface Props {
  categories: CollectionEntry<"categories">[];
  posts: CollectionEntry<"posts">[];
}

const { categories, posts } = Astro.props;

const categoriesWithCounts = categories.map((category) => {
  const count = posts.filter(
    (post) => post.data.category.id === category.id
  ).length;
  return {
    ...category,
    count,
  };
});
---

<div
  class="bg-card text-card-foreground flex flex-col gap-6 rounded-xl py-6 shadow-sm sticky top-22"
>
  <div
    class="@container/card-header grid auto-rows-min grid-rows-[auto_auto] items-start gap-2 px-6 has-data-[slot=card-action]:grid-cols-[1fr_auto] [.border-b]:pb-6"
  >
    <div data-slot="card-title" class="font-semibold text-lg">Categories</div>
  </div>
  <div data-slot="card-content" class="px-6 space-y-3">
    {
      categoriesWithCounts.map((category) => (
        <div class="flex items-center justify-between group cursor-pointer">
          <div class="flex items-center space-x-3">
            {category.id === "algorithms" && <AlgorithmsIcon />}
            {category.id === "data-structures" && <DataStructuresIcon />}
            {category.id === "jsts" && <JSTSIcon />}
            {(category.id === "architectures" ||
              category.id === "programming-basics") && <BookIcon />}
            <span class="text-sm group-hover:text-primary transition-colors">
              <a href={`/${SUBDOMAIN}categories/${category.id}/1`}>
                {category.data.name}
              </a>
            </span>
          </div>
          <span
            data-slot="badge"
            class="inline-flex items-center justify-center rounded-md border px-2 py-0.5 font-medium w-fit whitespace-nowrap shrink-0 [&>svg]:size-3 gap-1 [&>svg]:pointer-events-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive transition-[color,box-shadow] overflow-hidden text-foreground [a&]:hover:bg-accent [a&]:hover:text-accent-foreground text-xs"
          >
            {category.count}
          </span>
        </div>
      ))
    }
  </div>
</div>
