---
import Head from "@/components/Head.astro";
import "../styles/global.css";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="en">
  <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body class="min-h-screen bg-background text-foreground">
    <Header />
    <slot />
  </body>
</html>
