---
import Header from "@/components/Header.astro";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import CategoriesList from "@/components/CategoriesList.astro";
import { getCollection } from "astro:content";

interface Props {
  siteTitle: string;
  description: string;
  pageTitle: string;
  isPost?: boolean;
}

const { siteTitle, description, pageTitle, isPost = false } = Astro.props;
const categories = await getCollection("categories");
---

<html lang="en">
  <head>
    <BaseHead title={siteTitle} description={description} />
  </head>
  <body class="min-h-screen flex flex-col bg-gray-900">
    <Header />
    <main class="flex-grow py-40 w-4/5 max-w-7xl mx-auto">
      <h1
        class="text-3xl font-bold text-gray-100"
        class:list={!isPost ? "mb-8" : "mb-2"}
      >
        {pageTitle}
      </h1>
      <div class="flex flex-col md:flex-row gap-8">
        <section
          class="md:w-2/3"
          class:list={!isPost ? "flex flex-col gap-8" : "block"}
        >
          <slot />
        </section>
        <CategoriesList categories={categories} />
      </div>
    </main>
    <Footer />
  </body>
</html>
